.App {
  text-align: center;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #ed1d24;
}

.api-header {
  display: inline-block;
}

.api-input{
  position: relative;
  display: block;
  margin : 0 auto;
}

.do-it-all{
  margin: 0 auto;
  width: 450px;
}

.EventsDiv{
  float: left;
  padding-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
