/* Parent Component Styles */
.App {
  text-align: center;
}

.App-header-1 {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #ed1d24;
}

.App-header-2{
  font-size: calc(10px + 2vmin);
  color: #ed1d24;
}

.api-input {
  position: relative;
  display: block;
  margin: 0 auto;
}

.do-it-all {
  margin: 0 auto;
  width: 450px;
}

/* Card Styles */

.EventsDiv {
  float: left;
  padding-left: 10px;
}

.custom-overflow{
  white-space: nowrap; 
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-overflow-2{
  white-space: normal;
  word-break: break-all;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}