.App {
  text-align: center;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #ed1d24;
}

.api-input{
  position: relative;
  display: block;
  margin : 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
